body {
  background: #333;
  color: #fff; }

.navbar {
  border-bottom: #00e8d6 3px solid;
  opacity: 0.8; }

#home-section {
  background-image: url("https://images.unsplash.com/photo-1511988617509-a57c8a288659?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f34d31b7b293d187d4b134d6afcabba9&auto=format&fit=crop&w=1351&q=80");
  background-size: cover;
  background-attachment: fixed;
  min-height: 800px; }
  #home-section .dark-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 800px; }
  #home-section .home-inner {
    padding-top: 150px; }
  #home-section .card-form {
    opacity: 0.8; }
  #home-section .fa {
    color: #00e8d6;
    background: #fff;
    padding: 4px;
    border-radius: 5px;
    font-size: 30px; }

#explore-section .container {
  color: #7b8295; }

#explore-section .fa {
  color: white;
  background: #333;
  padding: 4px;
  border-radius: 5px;
  font-size: 30px; }

#share-section .fa {
  color: white;
  background: #333;
  padding: 4px;
  border-radius: 5px;
  font-size: 30px; }

#create-section .fa {
  color: #00e8d6;
  background: #fff;
  padding: 4px;
  border-radius: 5px;
  font-size: 30px; }
